<font size = 5> <mark>第一部分:数值运算<mark>

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from copy import deepcopy

**1 读取.csv文件**

In [19]:
df = pd.read_csv("/Users/shic/OneDrive/Chen/S2_22_2170-88.csv", header = None)

**2 添加列名**

In [20]:
df.columns = ["Time","Acceleration","Strain","Velocity"]
df2 = deepcopy(df)

**3 显示df最初的10行和最后的15行**

In [21]:
df.head(10)

      Time  Acceleration      Strain  Velocity
0  0.00000      0.115997  1373.52650  0.062043
1  0.00046     -1.488994  1140.40600  1.411096
2  0.00093     -2.654569   509.14166  2.260855
3  0.00139     -2.671171  -309.62070  2.308470
4  0.00185     -1.728748 -1029.42910  1.527155
5  0.00231     -0.358199 -1378.27270  0.196439
6  0.00277      1.230305 -1224.21550 -1.231556
7  0.00323      2.519134  -632.81152 -2.207246
8  0.00369      2.811892   176.51962 -2.386613
9  0.00415      1.997480   923.35950 -1.729734

In [22]:
df.tail(15)

               Time  Acceleration       Strain  Velocity
9628293  4435.20302     17.742643    72.283890 -2.201848
9628294  4435.20352     14.467085   801.142400 -1.719375
9628295  4435.20392      6.822897  1317.272200 -0.732718
9628296  4435.20442     -3.022723  1453.008800  0.462080
9628297  4435.20482    -11.865967  1186.389000  1.504725
9628298  4435.20532    -17.134003   603.705750  2.112498
9628299  4435.20582    -17.051439  -128.928880  2.068366
9628300  4435.20622    -11.971595  -811.478940  1.401768
9628301  4435.20672     -3.162599 -1230.419700  0.312059
9628302  4435.20712      6.651650 -1216.896200 -0.924515
9628303  4435.20762     14.457703  -787.638550 -1.874622
9628304  4435.20812     17.835873   -99.043915 -2.221865
9628305  4435.20852     15.719438   647.532100 -1.882002
9628306  4435.20902      8.926959  1230.890300 -0.987337
9628307  4435.20942     -0.748627  1459.907500  0.193333

**4 对Strain所在列进行单位换算**

In [23]:
df.Strain = df.Strain.map(lambda x: x*1e-06)
df.Strain.head(5)

0    0.001374
1    0.001140
2    0.000509
3   -0.000310
4   -0.001029
Name: Strain, dtype: float64

In [24]:
df2["Strain"] = df2["Strain"] * 1e-6
df2["Strain"].head(5)

0    0.001374
1    0.001140
2    0.000509
3   -0.000310
4   -0.001029
Name: Strain, dtype: float64

**5 对Acceleration所在列进行求和换算**

In [25]:
somme = df.Acceleration.sum()
# print(sum)
# Only works in Jupyter:
somme

19253.098751561105

**6 对Time所在列进行数学公式运算**

In [27]:
def func(x, y = 0):
    if x == 0:
        y = 0
    else:
        y = (x**2 + 2*x - 1)/x
        return y

df.Time = df.Time.map(func)
df.Time.head(5)

0            NaN
1   -2169.912123
2   -1071.266955
3    -715.421677
4    -536.536834
Name: Time, dtype: float64